<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [4]:
df.groupby("gender")['height'].agg(np.mean)

gender
1    161.355612
2    169.947895
Name: height, dtype: float64

In [5]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [6]:
pd.crosstab(df['gender'], df['alco'])

alco        0     1
gender
1       44369  1161
2       21867  2603

In [32]:
df.groupby('gender')['alco'].mean()

gender
1    0.025500
2    0.106375
Name: alco, dtype: float64

In [7]:
1161 / 45530.0, 2603 / 24470

(0.02549967054689216, 0.10637515324887617)

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [8]:
2603 / 24470 / (1161 / 45530.0)

4.171628533523973

In [33]:
df.groupby('gender')['smoke'].mean()

gender
1    0.017856
2    0.218880
Name: smoke, dtype: float64

In [34]:
0.218880 / 0.017856

12.258064516129032

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [9]:
df['age'].describe()

count    70000.000000
mean     19468.865814
std       2467.251667
min      10798.000000
25%      17664.000000
50%      19703.000000
75%      21327.000000
max      23713.000000
Name: age, dtype: float64

In [10]:
10798 / 30.4, 23713 / 30.4, 365 / 12

(355.19736842105266, 780.0328947368422, 30.416666666666668)

In [11]:
df.groupby('smoke')['age'].agg(np.median)

smoke
0    19722
1    19125
Name: age, dtype: int64

In [12]:
(19722 - 19125) / 30.0, (19722 - 19125) / 365 * 12

(19.9, 19.627397260273973)

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [13]:
df['age_years'] = round(df['age'] / 365.0).astype('int64')

In [14]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48

In [15]:
sx = df[(df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['gender'] == 2) & (df['smoke'] == 1)]

In [16]:
sx[(sx['ap_hi'] < 120) & (sx['cholesterol'] == 1)]['cardio'].mean()

0.2564102564102564

In [17]:
sx[(sx['ap_hi'] >= 160) & (sx['ap_hi'] < 180) & (sx['cholesterol'] == 3)]['cardio'].mean()

0.8636363636363636

In [18]:
0.8636363636363636 / 0.2564102564102564

3.3681818181818186

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [19]:
df['bmi'] = df['weight'] / (df['height'] / 100) / (df['height'] / 100)

In [20]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48,23.011177

In [21]:
df.groupby('gender')['bmi'].agg(np.mean)

gender
1    27.987583
2    26.754442
Name: bmi, dtype: float64

In [22]:
df.groupby('cardio')['bmi'].agg(np.mean)

cardio
0    26.548175
1    28.566061
Name: bmi, dtype: float64

In [23]:
df.groupby(['gender', 'cardio', 'alco',])['bmi'].agg(np.mean)

gender  cardio  alco
1       0       0       26.845407
                1       28.671457
        1       0       29.052771
                1       30.812347
2       0       0       25.872638
                1       26.097220
        1       0       27.522450
                1       28.226569
Name: bmi, dtype: float64

In [24]:
#18.5 до 25
.872638

0.872638

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [25]:
h_25 = df['height'].quantile(0.025)
h_97 = df['height'].quantile(0.975)
w_25 = df['weight'].quantile(0.025)
w_97 = df['weight'].quantile(0.975)

print(h_25, h_97, w_25, w_97)

150.0 180.0 51.0 108.0

In [26]:
df[(df['ap_lo'] > df['ap_hi']) | (df['height'] < h_25) | (df['height'] > h_97) | (df['weight'] < w_25) | (df['weight'] > w_97)].describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
count,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000,6741.000000
mean,19484.789052,1.377540,163.130989,80.589831,128.499481,241.355437,1.449340,1.265984,0.105326,0.064827,0.806705,0.556742,53.377244,30.656705
std,2509.773727,0.484808,16.005708,27.837420,35.430630,587.269069,0.728393,0.605868,0.306995,0.246239,0.394911,0.496807,6.883598,13.585114
min,14277.000000,1.000000,55.000000,10.000000,-150.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,39.000000,3.471784
25%,17598.000000,1.000000,150.000000,55.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,48.000000,22.222222
50%,19714.000000,1.000000,162.000000,78.000000,130.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,54.000000,28.060019
75%,21417.000000,2.000000,176.000000,105.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,59.000000,36.935273
max,23675.000000,2.000000,250.000000,200.000000,907.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,65.000000,298.666667

In [27]:
round(6742.000000 / 70000 * 100)

10

In [28]:
cl = df[(df['ap_lo'] <= df['ap_hi']) & (df['height'] >= h_25) & (df['height'] <= h_97) & (df['weight'] >= w_25) & (df['weight'] <= w_97)]

In [29]:
cl.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
count,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000,63259.000000
mean,19467.169004,1.346591,164.490112,73.525384,128.851152,81.208239,1.358083,1.222245,0.086296,0.052593,0.803411,0.493621,53.334577,27.226150
std,2462.691222,0.475888,6.864083,11.914258,161.596380,9.520961,0.674329,0.568416,0.280803,0.223222,0.397422,0.499963,6.752607,4.501489
min,10798.000000,1.000000,150.000000,51.000000,12.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,30.000000,15.740741
25%,17671.000000,1.000000,160.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,48.000000,23.875115
50%,19702.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,54.000000,26.291724
75%,21321.000000,2.000000,169.000000,81.000000,140.000000,90.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,58.000000,29.823253
max,23713.000000,2.000000,180.000000,108.000000,16020.000000,182.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,65.000000,48.000000

In [30]:
cl.groupby("gender")['height'].agg(np.mean)

gender
1    161.958315
2    169.263170
Name: height, dtype: float64

In [31]:
cl['gender'].value_counts()

1    41334
2    21925
Name: gender, dtype: int64